.navagation-buttons {
    background-color: #000000;
    border: 2px solid #ff0000;
    color: #ff0000;
    width: 248px;
    height: 20px;
    cursor: "pointer";
    transition: transform 0.3s ease;
    }    
.navagation-buttons:hover {
    transform: scale(1.1);
        }
header {
    background-color: black; 
    height: 50px;  
    width: flex; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-size: flex; 
    position: sticky; 
    z-index: 100; 
    top: 0;
    }
p {
    color: #ffffff;
    font-family: "Roboto Mono";
    text-align: center;
   }
h1 {
    font-family: "Roboto Mono";
    text-align: center;
   }
